# All commented parameters are optional

# Уровень логирования (DEBUG, INFO, WARN, ERROR, по умолчанию INFO)
#LOG_LEVEL=INFO

# Формат логов (yes/no)
#LOG_PLAINTEXT=no

# Адрес сервера
#SERVER_ADDR=:8080

# Максимальное количество задач (по умолчанию 1000)
#MANAGER_MAX_TOTAL=100

# Максимальное количество активных задач (по умолчанию 3)
#MANAGER_MAX_ACTIVE=3

# Максимальное количество файлов в задаче (по умолчанию 3)
#MANAGER_MAX_FILES=3

# Время жизни задачи (по умолчанию 10m)
#MANAGER_TASK_TTL=10m

# Разрешённые MIME-типы
LOADER_ALLOW_MIME="application/pdf image/jpeg image/png image/gif"